.container
  = form_for(:login, html: { class: 'form-signin' }) do |f|
    h2.form-signin-heading
      | Please sign in

    = f.label :email, class: 'sr-only'
    = f.text_field :email, class: 'form-control', type: :email
    = f.label :password, class: 'sr-only'
    = f.text_field :password, class: 'form-control', type: :password
    = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block'
